{% extends 'base.html' %}

{% block main %}
<div id="calculate-page">

<div id="time-result-display">
  <h1 id='display-time'>time_unknown</h1>

</div>

<div class="box-btn-lg-icon" onclick=calculate()> <!-- This is a Box Button with Large Icon and Text at the bottom -->
  <!-- Things that are required for the button
      1. Icon
      2. Icon Background
      3. Text
      4. onHover
      5. onActive -->

      <div class="box-btn-lg-icon-img-bg"></div> <!-- This is for the Background of the Image -->

      <img src="{{ url_for('static', filename='Images/sleep.svg') }}" /> <!-- Image for the Box Button -->



      <h3>Sleep Now</h3> <!-- This is the Text for the Box Button -->

</div>


</div>
</div>

{% endblock %}
