
/* Following are the Css for the Main Types */

html{
  /* These are the Initial styling for the Webpage */
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue";
}


body {
  background-color: #323145;
  color:#FFFFFF;
  font-size: 1.6rem;
  text-align: center;
}

header {
  background-color: #282739;
  display: flex;
  font-size: 1.7rem;
  height: 149px;
  flex-direction: row;
  align-items:center;
  text-align: center;
}


/* Components for the Header */

.custom-navbar {
  display: flex;
  padding: 56px 0px 56px 0px;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  text-align: center;
}

.custom-navbar h1{
  position: absolute;
  left: 6%;
}


a {
  color: #62607C;
  text-decoration: none;
}

.logo {
  cursor: pointer;
  font-size: 48px;
  font-weight: 400;
}

.logo a {
  text-decoration: none;
  color: #FF6584;
}

.navigation {
  position: absolute;
  left: 55%
}

.navigation li{
  display: inline-block;
  padding: 0px 20px;
}

.navigation li a {
  text-decoration:none;
  transition: all 0.3s ease 0s;
}

.navigation li a:hover {
  color: #FF6584;
}





/* == == Components for the Home Page == == */

/* Section-1 */

.home-page {
  display: grid;
  grid-template-rows: 1080px 250px;
  grid-template-columns: 100%;
}

.home-section-1 {
  height:800px;
  border: 2px solid;
  border-color: red;
}


.CTA-section{
  position: absolute;
  left: 99px;
  top: 249px;
}

.CTA-section h1, h2, h3, h4, h5, h6 {
  color: #62607C;
}


.CTA-section h1 {
  font-size: 49px;
}


.CTA-section button{
  border: none;
  padding: 23px 63px;
  margin: 100px 0px 0px 0px;
  border-radius: 30px;
  cursor: pointer;
  background-color: #3F3D56;
  color: #FD6E65;
  transition: all 0.3s ease 0s;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 3px 3px 16px #282739;
}

.CTA-section button:hover {
  background-color: #FD6E65;
  color: #3F3D56;
  box-shadow: 12px 12px 16px #282739;
}


.moonlight {
  position: relative;
  left:400px;
  bottom: -200px;
  width: 80%;
  transform: scale(-1,1);
}


/* Section-2 */

.home-section-2 {
  background-color: #2C2B3C;
  width: 100%;
  margin: 0px;
  border: 2px solid;
  border-color: white;
  height: 500px;
}

.sleep-info {
  background-color: #323145;
  display: grid;
  grid-template-rows: 1fr 2fr;
  margin: 40px;
  text-align: center;
  align-items: center;

}


/* Following is the Section for the Calculate Page */

#calculate-page {
  width: 60%;
  margin: auto;
}

#time-result-display {
  background-color: #2B2A3C;
  color: #FD6E65;
  margin: 50px auto 50px auto;
  width: 70%;
  height: 217px;
  text-align: center;
  border-radius: 16px;
}

#time-result-display h1 {
  margin: auto;
}


.calculate-btn {
  padding: 10px 40px;
  margin: 20px;
  color: #FF6584;
  background-color: #3F3D56;
  border: none;
  font-size: 2.2rem;
  border-radius: 50px;
  box-shadow: 2px 2px 3px #282739;
  transition: all 0.3s ease 0s;
}

.calculate-btn:hover {
  background-color: #FD6E65;
  color: #3F3D56;
}
